# question 1

In [94]:
a = 0    # Initializing a global variable "a" with global scale 
     
def b():  #creating a function 
    global a  #declaring the scope of "a" as global 
    
    
    # here we declare 'a' as global since we will need to
              # modify its value from inside the function
            
    a = c(a)  #modifing the value of a by calling a function "c" 
              # and passing "a"
    
    # then we call another function 'c', pass an argument 'a'
              # and re-assign the output to 'a'
        
def c(a):         # creating a fuction which takes a parameter
    return a + 2  # returinig a value by adding "a" with 2

In [95]:
b() #calling the function b, since inital value of "a" is zero, f(c) returns 2, and a changes to 2

In [96]:
b() #calling the function b, since new value of "a" is 2, f(c) returns 4, and a changes to 4

In [97]:
b() #calling the function b, since new value of "a" is 4, f(c) returns 6, and a changes to 6

In [98]:
a # returns the value of "a"

6

# question 2

In [49]:
#creating the function
def fileLength(name): 
    try:
        infile = open(name)
        x = infile.read()
        
        infile.close()
        print(len(x))
    except FileNotFoundError: #handling error
        y=name
        print("File "+ y +" not Found.")

fileLength("idterm.py")

File idterm.py not Found.

# question 3

In [50]:
#creating function marsupial

class Marsupial:

    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, value : str):
        self.pouch.append(value)
        
    def pouch_contents(self):
        return self.pouch

In [51]:
#creating kangaroo subclass
class Kangaroo(Marsupial):
    
    def __init__(self, xcoord, ycoord):
        Marsupial.__init__(self)
        self.x = xcoord
        self.y = ycoord
        
    def jump(self, dx, dy): # new method
        self.x += dx
        self.y += dy
    
    def __str__(self): # overload the __str__ operator
        return "I am a Kangaroo located at coordinates (%s,%s)" %(self.x, self.y)

In [52]:
k = Kangaroo(0, 0)

print(k)

I am a Kangaroo located at coordinates (0,0)

In [53]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [54]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# question 4

In [57]:
#creating collatz recursive function
def collatz(n):
    'prints the n-th pattern'
    print(n)
    if n == 1:           # base case
        return()
        
    elif (n %2 == 0):
       
        collatz(n/2)
    else:
        x=3*n+1
        
        collatz(x)
        
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

# question 5

In [58]:
#creating binary recursive function

def binary(n):
    'prints the n-th pattern'
    if(n==0):
        print(n)
        
    
    elif n == 1: 
        print(n,end=' ')# base case
        #return(n)
    else:
        print(n%2,end=' ')
        binary( int(n/2))

In [59]:
binary(0)

0

In [60]:
binary(1)

1

In [61]:
binary(3)

1 1

In [62]:
binary(9)

1 0 0 1

# question 6

In [64]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    tag = []
    def handle_starttag(self, tag, attrs):
        self.tag.append(tag)
            
    def handle_data(self, data):
        try:
            if self.tag[-1] in ['h1','h2','h3','h4','h5','h6']:
                print(" "*(int(self.tag[-1][1:])-1), data)
        except IndexError:
            pass
        
infile = open("w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

 W3C Mission


  Principles

# question 7

In [73]:
import requests
from bs4 import BeautifulSoup

URL = "http://reed.cs.depaul.edu/lperkovic/csc242/"
page = requests.get(URL)
soup = BeautifulSoup(page.content, features='lxml')
# Find links
all_links = [link.get("href") for link in soup("a")]

all_links

['homeworks/Winter2020/FinalPractice.html',
 'homeworks/Winter2020/FinalPractice2.html',
 'syllabus.html',
 'https://d2l.depaul.edu',
 'https://d2l.depaul.edu/',
 'https://academics.depaul.edu/calendar/Pages/default.aspx',
 'https://d2l.depaul.edu',
 'https://www.python.org/',
 'https://www.python.org/downloads/',
 'https://wiki.python.org/moin/BeginnersGuide',
 'https://wiki.python.org/moin/BeginnersGuide/NonProgrammers',
 'https://bcs.wiley.com/he-bcs/Books?action=index&itemId=1118890949&bcsId=9532',
 'https://www.acm.org/',
 'https://www.garykessler.net/library/crypto.html',
 'http://www.alanturing.net/',
 'https://aitopics.org/search',
 'https://www.sciencemuseum.org.uk/objects-and-stories/women-computing',
 'https://www.w3schools.com/',
 'https://icpc.global/',
 'mailto:lperkovic@cs.depaul.edu',
 'https://reed.cs.depaul.edu/lperkovic/',
 'lecture1/',
 'lecture2/',
 'lecture3/',
 'lectures/lecture4/Lecture4.ppt',
 'lecture4/',
 'lectures/lecture5/Lecture5.ppt',
 'lecture5/',
 'lecture6/',
 'lecture7/',
 'lecture8/',
 'lecture9/',
 'http://reed.cs.depaul.edu/lperkovic/csc416/lectures/lecture9/Lecture9.html',
 'lecture10/',
 'homeworks/Homework1.html',
 'homeworks/Homework2.html',
 'http://reed.cs.depaul.edu/lperkovic/csc242/homeworks/HomeworkSol.html',
 'homeworks/Homework3.html',
 'homeworks/Homework4.html',
 'homeworks/Homework5.html',
 'homeworks/Homework6.html',
 'homeworks/Homework7.html',
 'homeworks/Homework8.html']

# question 8

In [89]:
import sqlite3
con = sqlite3.connect('example.db')
cur = con.cursor()

In [91]:
cur.execute('''CREATE TABLE World7
               (city text, country text , season text , temperature real , rainfall real)''')

OperationalError: database is locked

In [4]:
cur.execute("INSERT INTO World VALUES ('mumbai','India','winter',24.8,5.9)")

In [5]:
cur.execute("INSERT INTO World VALUES ('mumbai','India','spring',28.4,16.2)")

In [6]:
cur.execute("INSERT INTO World VALUES ('mumbai','India','summer',27.9,1549.4)")

In [7]:
cur.execute("INSERT INTO World VALUES ('mumbai','India','fall',27.6,346.0)")

In [8]:
cur.execute("INSERT INTO World VALUES ('london','United Kingdom','winter',4.2,207.7)")

In [9]:
cur.execute("INSERT INTO World VALUES ('london','United Kingdom','spring',8.3,169.6)")

In [10]:
cur.execute("INSERT INTO World VALUES ('london','United Kingdom','summer',15.7,157.0)")

In [11]:
cur.execute("INSERT INTO World VALUES ('london','United Kingdom','fall',10.4,218.5)")

In [12]:
cur.execute("INSERT INTO World VALUES ('cario','Egypt','winter',13.6,16.5)")

In [13]:
cur.execute("INSERT INTO World VALUES ('cario','Egypt','spring',20.7,6.5)")

In [14]:
cur.execute("INSERT INTO World VALUES ('cario','Egypt','summer',27.7,0.1)")

In [15]:
cur.execute("INSERT INTO World VALUES ('cario','Egypt','fall',22.2,4.5)")

In [26]:
#8.a
temp=cur.execute('''SELECT temperature FROM World''')
for row in temp:
    print(row)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [85]:
#8.b
temp=cur.execute('''SELECT DISTINCT(city) FROM World''')
for row in temp:
    print(row)

In [86]:
#8.c
word = 'India'
cur.execute('SELECT * FROM World WHERE country = ?', (word,))
print(cur.fetchall())

[]

In [68]:
#8.d
word2 = 'fall'
cur.execute('SELECT * FROM World WHERE season = ?', (word2,))
print(cur.fetchall())

[('mumbai', 'India', 'fall', 27.6, 346.0), ('london', 'United Kingdom', 'fall', 10.4, 218.5), ('cario', 'Egypt', 'fall', 22.2, 4.5)]

cur.execute("DROP TABLE World")

In [69]:
#8.e
for row in cur.execute('SELECT city , country  ,season   FROM World WHERE rainfall > 200 AND rainfall < 400 '):
        print(row)

('mumbai', 'India', 'fall')
('london', 'United Kingdom', 'winter')
('london', 'United Kingdom', 'fall')

In [70]:
#8.f
for row in cur.execute('SELECT city , country     FROM World WHERE temperature > 20 AND season = ?   ' , (word2,)):
        print(row)

('mumbai', 'India')
('cario', 'Egypt')

In [71]:
#8.g
word3='cario'
for row in cur.execute('SELECT SUM(rainfall)    FROM World WHERE  city = ?  ' , (word3,)):
        print(row)

(27.6,)

In [92]:
#8.h
for row in cur.execute('SELECT season, SUM(rainfall) from WORLD GROUP BY season  ' ):
        print(row)

In [93]:
#cur.execute("DROP TABLE World")

OperationalError: database is locked

# question 9

In [35]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [40]:
#9.a
a=[x.upper() for x in words]
a

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [41]:
#9.b
b=[y.lower() for y in words]
b

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [42]:
#9.c
c=[len(x) for x in words]
c

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [44]:
#9.d
d=[[x.upper(), x.lower(), len(x)] for x in words]
d

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [47]:
#9.e
e=[x for x in words if len(x)>=4]
e

['quick', 'brown', 'jumps', 'over', 'lazy']